[submodule "vendor/randomx"]
	path = vendor/randomx
	url = https://github.com/rust-blockchain/randomx
[submodule "vendor/substrate"]
	path = vendor/substrate
	url = https://github.com/paritytech/substrate
