trigger:
- master
- refs/tags/*

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  timeoutInMinutes: 0
  steps:
  - script: git submodule update --init --recursive
    displayName: 'Submodules'
  - script: ./scripts/ci-init.sh
    displayName: 'Rust setup'
  - script: cargo test --release --all
    displayName: 'Run tests'
  - script: cargo build --release
    displayName: 'Build artifacts'
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'target/release/kulupu'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/kulupu-linux.zip'
    displayName: 'Archive artifacts'
  - script: |
      shasum -a 256 $(Build.ArtifactStagingDirectory)/kulupu-linux.zip > $(Build.ArtifactStagingDirectory)/kulupu-linux.zip.sha256
    displayName: 'Finalize artifacts'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish artifacts'

- job: MacOS
  pool:
    vmImage: 'macOS-latest'
  timeoutInMinutes: 0
  steps:
  - script: git submodule update --init --recursive
    displayName: 'Submodules'
  - script: ./scripts/ci-init.sh
    displayName: 'Rust setup'
  - script: |
      source ~/.cargo/env
      cargo build --release
    displayName: 'Build artifacts'
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'target/release/kulupu'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/kulupu-macos.zip'
    displayName: 'Archive artifacts'
  - script: |
      shasum -a 256 $(Build.ArtifactStagingDirectory)/kulupu-macos.zip > $(Build.ArtifactStagingDirectory)/kulupu-macos.zip.sha256
    displayName: 'Finalize artifacts'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish artifacts'

- job: Windows
  pool:
    vmImage: 'windows-2019'
  timeoutInMinutes: 0
  steps:
  - script: git submodule update --init --recursive
    displayName: 'Submodules'
  - script: |
      rustup update nightly --no-self-update
      rustup update stable --no-self-update
      rustup target add wasm32-unknown-unknown --toolchain nightly --no-self-update
    displayName: 'Rust setup'
  - script: |
      set LIBCLANG_PATH=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\Llvm\x64\bin
      cargo build --release
    displayName: 'Build artifacts'
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'target/release/kulupu.exe'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/kulupu-windows.zip'
    displayName: 'Archive artifacts'
  - script: |
      CertUtil -hashfile $(Build.ArtifactStagingDirectory)/kulupu-windows.zip SHA256 > $(Build.ArtifactStagingDirectory)/kulupu-windows.zip.sha256
    displayName: 'Finalize artifacts'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish artifacts'
